body{
  color: transparent;
  background-color: aqua;
}

h1{
  text-align: center;
  background-color: transparent;
  color: black;
  font-family: "Verdana",serif;
  font-size: 1.7em;
}

p{
  text-align: left;
  color: black;
  background-color: transparent;
  font-family: "Verdana",serif;
  font-size: 1.2em;
}

.center{
  display: block;
  margin: auto;
}

img{
  width: 40%;
  height: 50%;
}
